body {
  font-family: Verdana, Geneva, sans-serif;
}

.img {
  border: 1px solid white;
}

.navbar {
  background-color: #ff6600;
}

#logo {
  border: solid white 1px;
  height: 18px;
  width: 18px;
}

.arrow {
  color: #000000;
  /*text-decoration: none;
*/}

.row {
  margin-left: 5px;
  margin-top: 10px;
}