body {
  margin: 0 auto;
  font-family: Verdana, Geneva, sans-serif;
}

.top {
  background-color: #ff6600;
  margin: 0 auto;
  width: 90%;
  padding: 0px;
}

#logo {
  border: solid white 1px;
  height: 18px;
  width: 18px;
}

a {
  padding-right: 5px;
}

#right {
  float: right;
  padding-right: 5px;
}